<div id="<%= dom_id poem %>">
  <p>
    <strong>Title:</strong>
    <%= poem.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= poem.text %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= poem.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= poem.location %>
  </p>

  <p>
    <strong>Meter:</strong>
    <%= poem.meter %>
  </p>

</div>
